<p>Oi, #{name}!</p>
<p>Sua conta no GVLar imoveis está quase pronta. Para ativá-la, por favor</p>
<p>confirme o seu endereço de email clicando no link abaixo</p>

<a href="#{id}#{token}">Confirmar meu email #{id}, #{token}</a>

<p>Sua conta não será ativada até que seu email seja confirmado</p>

<p>Se você não se cadastrou no GVLar imoveis recentemente, por </p>
<p>favor ignore este email</p>
